@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'K2D', sans-serif;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width: 100%;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    width: 100%;
    background: rgb(3, 73, 3);
    position: fixed;
    left: 0;
    top: 0;
}
nav{
    height: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5rem;
    color: rgb(247, 230, 0);
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    list-style: none;
    margin: 0 1.5rem;
}
li a{
    color: lightyellow;
    font-size: 1.6rem;
    text-decoration: none;
}
section{
    padding: 5rem 0;
}
.box{
    border: 1px solid grey;
    padding: 2rem;
    margin-top: 4rem;
}
h2{
    font-size: 3rem;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex>*{
    margin: 5px;
}
.top{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    font-size: 3rem;
    background: transparent;
    padding: 1rem;
    border: 1px solid green;
    outline: none;
    cursor: pointer;
    z-index: 111;
    opacity: 0;
    transform: translateY(10rem);
    transition: all 0.7s;
}
.show-btn{
    opacity: 1;
    transform: translateY(0);
}

